<%- include("header"); -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, nobis dolore quia explicabo harum voluptates illo exercitationem rerum, nam ducimus ratione laboriosam dolores consectetur reprehenderit nihil consequatur modi quisquam sit.
</p>

<%- include("footer"); -%>